// @media (max-width: 1200px) {
// @media (max-width: 768px) {
.page {
    // background: #1F2830;
    background-image: url(../image/01.png);
    background-size: 15px;
    .screen {
        position: relative;
        width: 100%;
        height: 100vh;
        max-height: 70vw;
        overflow: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 0;
        &:before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #222;
            background-image: url(../image/02.png);
            background-size: 3px;
            opacity: 0.6;
        }
        .video-container {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-color: #111D2D;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-height: 100%;
                min-width: 100%;
                min-height: 100vh;
                min-width: 100vw;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    .no-video-rwd {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 70vw;
        overflow: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 0;
        &:before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #222;
            background-image: url(../image/02.png);
            background-size: 3px;
            opacity: 0.6;
        }
        display: none;
        background-image: url(../image/background.png);
        background-repeat: no-repeat;
        // background-size: 200px 10px;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-size: cover;
        // background-size: auto 100%;
        @media (max-width: 768px) {
            display: block;
        }
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        z-index: 3;
        .main-title {
            font-size: 64px;
            width: 100%;
            color: #FFF;
            margin-bottom: 20px;
        }
        .sub-title {
            font-size: 48px;
            color: #FFF;
        }
        @media (max-width: 768px) {
            top: 250px;
        }
    }
}

.member {
    .side {
        width: 100px;
        @media (max-width: 768px) {
            width: 50px;
        }
        position: fixed;
        left: 0;
        top: 60px;
        bottom: 0px;
        background: #F7F7F7;
        box-shadow: 0 2px 4px 0;
        overflow: hidden;
        .side-bar {
            height: calc(100% - 60px);
            width: 100px;
            @media (max-width: 768px) {
                width: 50px;
            }
            overflow: hidden;
            list-style: none;
            margin: 0;
            padding: 45px 0 0 0;
            .side-bar-list {
                height: 60px;
                width: 100%;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
                -webkit-transition: all 500ms ease-out;
                -moz-transition: all 500ms ease-out;
                transition: all 500ms ease-out;
                &.blue {
                    background-color: #4BA0C6;
                    color: #FFF;
                    &:hover {
                        font-size: 25px;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 70px;
                            right: -5px;
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            box-shadow: -2px -2px 4px rgba(0, 0, 0, .1);
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                    &.active {
                        box-shadow: -10px 8px 10px 0px #000;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 70px;
                            right: -5px;
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            box-shadow: -2px -2px 4px rgba(0, 0, 0, .1);
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
                &.red {
                    background-color: #F18169;
                    color: #FFF;
                    &:hover {
                        font-size: 25px;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 130px;
                            right: -5px;
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            box-shadow: -2px -2px 4px rgba(0, 0, 0, .1);
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                    &.active {
                        box-shadow: -10px 8px 10px 0px #000;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 130px;
                            right: -5px;
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            box-shadow: -2px -2px 4px rgba(0, 0, 0, .1);
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
    .content {
        margin-top: 60px;
        margin-left: 100px;
        @media (max-width: 768px) {
            margin-left: 20px;
        }
        @media (max-width: 330px) {
            margin-left: 0px;
        }
        .title {
            line-height: 36px;
            padding-top: 45px;
            margin-left: 50px;
            color: #455B73;
            font-size: 36px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
}

.card-list {
    width: 100%;
    height: 100%;
    .card {
        display: inline-block;
        width: 280px;
        height: 500px;
        margin: 50px 0 0 50px;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 #737373;
        // padding: 0 20px;
        .card-content {
            margin-left: 20px;
            .card-degree {
                padding-top: 5px;
                font-size: 14px;
                color: #CBD1D8;
            }
            .card-name {
                color: #61718C;
                font-size: 26px;
                line-height: 30px;
            }
            .card-image {
                width: 240px;
                height: 240px;
                //background-image: url(../image/avatar01.jpg);
                background-size: contain;
                -webkit-transition: all 500ms ease-out;
                -moz-transition: all 500ms ease-out;
                transition: all 500ms ease-out;
                &:hover {
                    opacity: .5;
                }
                &:before {
                    z-index: 1;
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    content: "";
                    background-color: #222;
                    background-image: url(../image/03.png);
                    background-size: 4px;
                    opacity: .2;
                }
            }
            .email-name {
                padding-top: 5px;
                font-size: 14px;
                color: #CBD1D8;
            }
            .email {
                width: 240px;
                height: 35px;
                border-style: solid;
                border-radius: 3px;
                border-width: 2px;
                border-color: #F5F5F5;
                margin-top: 5px;
                text-align: center;
                line-height: 35px;
                color: #61718C;
                font-size: 14px;
            }
            .domain-name {
                padding-top: 5px;
                font-size: 14px;
                color: #CBD1D8;
            }
            .domain {
                width: 240px;
                height: 50px;
                border-style: solid;
                border-radius: 3px;
                border-width: 2px;
                border-color: #F5F5F5;
                margin-top: 5px;
                text-align: center;
                line-height: 50px;
                color: #61718C;
                font-size: 20px;
            }
        }
        .card-meta {
            background-color: #FBFCFD;
            height: 50px;
            margin-top: 25px;
            border-radius: 0 0 5px 5px;
            border-top: 1px solid #F3F5F7;
            box-shadow: 0 2px 4px 0 #737373;
            line-height: 18px;
            .card-meta-block {
                -webkit-transition: all 200ms ease-out;
                -moz-transition: all 200ms ease-out;
                transition: all 200ms ease-out;
                display: inline-block;
                text-align: center;
                width: 85px;
                font-size: 14px;
                color: #61718C;
                margin: 16px 0;
                cursor: pointer;
                &:hover {
                    font-size: 18px;
                }
                &.md {
                    border-right: 1px solid #EBECEC;
                    border-left: 1px solid #EBECEC;
                }
                i {
                    color: #CFD5DC;
                    &.red {
                        color: #EF7472;
                    }
                }
            }
        }
    }
}

.research {
    // background: #1F2830;
    background-image: url(../image/01.png);
    background-size: 15px;
    .screen {
        position: relative;
        width: 100%;
        height: 100vh;
        max-height: 70vw;
        overflow: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 0;
        &:before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #222;
            background-image: url(../image/01.png);
            background-size: 10px;
            opacity: 0.6;
        }
        .background-container {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-color: #313746;
        }
    }
    .content-panel {
        position: absolute;
        top: 95px;
        left: 40px;
        right: 40px;
        // bottom: 35px;
        border-radius: 5px;
        /* transform: translateX(-50%); */
        // text-align: center;
        z-index: 3;
        background-color: #000;
        box-shadow: 0 2px 4px 0 #000;
        .content-tags {
            padding: 0px 17px;
            line-height: 40px;
            height: 40px;
            .tags-border {
                border-bottom: 2px #2D2F32 solid;
                // overflow-y: hidden;
                height: 42px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                .tag {
                    display: inline-block;
                    font-size: 16px;
                    color: #313746;
                    margin-right: 24px;
                    -webkit-transition: all 250ms ease-out;
                    -moz-transition: all 250ms ease-out;
                    transition: all 250ms ease-out;
                    cursor: pointer;
                    @media (max-width: 768px) {
                        font-size: 10px;
                    }
                    &.active {
                        border-bottom: 2px #94C500 solid;
                        color: #FFF;
                    }
                    &:hover {
                        border-bottom: 2px #94C500 solid;
                        color: #FFF;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            // /top: 250px;
        }
    }
}

.research-cards {
    padding: 0 15px;
    margin-top: 25px;
    .research-card {
        height: 150px;
        width: 300px;
        border-radius: 2px;
        float: left;
        cursor: pointer;
        margin: 0 0px 20px 20px;
        @media (max-width: 768px) {
            width: 200px;
        }
        .card-image {
            position: absolute;
            height: 150px;
            width: 300px;
            // background-image: url(../image/research-01.jpg);
            background-size: contain;
            opacity: 0.4;
            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            transition: all 250ms ease-out;
            &:hover {
                opacity: 0.2;
            }
            @media (max-width: 768px) {
                width: 200px;
            }
        }
        .research-title {
            color: #FFF;
            padding: 30px 20px 20px 20px;
            overflow-wrap: break-word;
            line-height: 20px;
            word-break: break-all;
            font-size: 20px;
        }
        .research-author {
            font-size: 10px;
            color: #FFF;
            text-align: center;
        }
    }
}

::-webkit-scrollbar {
    margin-right: 4px;
    height: 4px !important;
    overflow: visible !important;
    width: 12px !important;
}

::-webkit-scrollbar-button {
    height: 0px !important;
    width: 0px !important;
}

::-webkit-scrollbar-corner {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5) !important;
    background-clip: padding-box !important;
    border: 4px solid transparent !important;
    border-image: initial !important;
    min-height: 20px !important;
    padding: 50px 0px 0px !important;
    opacity: .6;
    border-radius: 2px;
    transition: all 350ms ease !important;
}
