.page {
    .header {
        z-index: 2;
        height: 60px;
        box-shadow: 0 2px 10px 0 #515151;
        position: fixed;
        background: #FFF;
        top: 0;
        width: 100%;
        .brand {
            position: absolute;
            left: 150px;
            -webkit-transition: all 225ms ease-out;
            -moz-transition: all 225ms ease-out;
            transition: all 225ms ease-out;
            .logo {
                height: 60px;
                // margin: 10px;
                display: inline-block;
                img {
                    height: 100%;
                }
            }
            .name {
                display: inline-block;
                line-height: 60px;
                vertical-align: top;
                font-size: 24px;
                -webkit-transition: all 225ms ease-out;
                -moz-transition: all 225ms ease-out;
                transition: all 225ms ease-out;
            }
        }
        .right-panel-rwd {
            position: absolute;
            right: 30px;
            height: 60px;
            line-height: 60px;
            font-size: 30px;
            display: none;
        }
        .right-panel {
            position: absolute;
            right: 50px;
            height: 60px;
            line-height: 60px;
            .nav {
                display: inline-block;
                .nav-li {
                    margin: 0 20px;
                    height: 58px;
                    width: 60px;
                    text-align: center;
                    display: inline-block;
                    font-size: 20px;
                    color: #686868;
                    transition: all 225ms cubic-bezier(.46, 1.02, .88, .1);
                    &.active {
                        color: #337ab7;
                        border-bottom: #337ab7 4px solid;
                    }
                    &:hover {
                        border-bottom: #337ab7 4px solid;
                        // text-shadow: 1px 0px 0px #ccc;
                    }
                }
            }
            .search {
                border-width: 1px;
                display: inline-block;
                border-radius: 2em;
                border-style: solid;
                padding: 10px 10px 10px 40px;
                margin: 0 20px;
                background-image: url(../image/search_focus.png);
                background-size: 24px;
                background-position: calc(12px);
                background-repeat: no-repeat;
                color: #767676;
                -webkit-transition: all 225ms ease-out;
                -moz-transition: all 225ms ease-out;
                transition: all 225ms ease-out;
                outline: none;
                &:hover {
                    outline: none;
                }
            }
        }
    }
    .screen {
        position: relative;
        width: 100%;
        height: 100vh;
        max-height: 70vw;
        overflow: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px 0;
        &:before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: #222;
            background-image: url(../image/02.png);
            background-size: 3px;
            opacity: 0.6;
        }
        .video-container {
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-color: #111D2D;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                min-height: 100%;
                min-width: 100%;
                min-height: 100vh;
                min-width: 100vw;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        z-index: 3;
        .main-title {
            font-size: 64px;
            width: 100%;
            color: #FFF;
            margin-bottom: 20px;
        }
        .sub-title {
            font-size: 48px;
            color: #FFF;
        }
    }
}


/* Small devices (tablets, 768px and up) */

@media (max-width: 1200px) {
    .page {
        .header {
            .brand {
                left: 90px;
                -webkit-transition: all 225ms ease-out;
                -moz-transition: all 225ms ease-out;
                transition: all 225ms ease-out;
                .logo {
                    img {}
                }
                .name {}
            }
            .right-panel-rwd {
                display: inline-block;
            }
            .right-panel {
                display: none;
                .nav {
                    .nav-li {}
                }
                .search {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page {
        .header {
            .brand {
                left: 10px;
                -webkit-transition: all 225ms ease-out;
                -moz-transition: all 225ms ease-out;
                transition: all 225ms ease-out;
                .logo {
                    img {}
                }
                .name {
                    display: inline-block;
                    vertical-align: top;
                    padding: 18px 0px;
                    width: 100px;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .right-panel-rwd {
                display: inline-block;
            }
            .right-panel {
                display: none;
                .nav {
                    .nav-li {}
                }
                .search {
                    display: none;
                }
            }
        }
    }
}

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: 992px) { ... }
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) { ... }
