.esoe-search {
    border-width: 1px;
    display: inline-block;
    border-radius: 2em;
    border-style: solid;
    padding: 10px 10px 10px 40px;
    margin: 0 20px;
    background-image: url(../image/search_focus.png);
    background-size: 24px;
    background-position: calc(12px);
    background-repeat: no-repeat;
    color: #767676;
    -webkit-transition: all 225ms ease-out;
    -moz-transition: all 225ms ease-out;
    transition: all 225ms ease-out;
    outline: none;
    &:hover {
        outline: none;
    }
}