<!DOCTYPE html>
<html>
<!-- Copyright ESOE -->
<!-- Licensed ESOE -->
<!-- http: //mike-zheng.github.io/ -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="image/logo_o.png"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta name="KeyWords" content="ntu esoe ican lab">
    <meta name="KeyWords" content="台灣大學 台大 工科 工程科學 智慧計算與網路實驗室">
    <meta name="og:title" content="國立台灣大學工程科學研究所-智慧計算與網路實驗室">
    <meta name="og:description" content="國立台灣大學工程科學研究所-智慧計算與網路實驗室">
    <meta name="og:type" content="website">
    <meta name="og:image" content="image/ogimg.png">
    <meta name="author" content="mikeZheng">
    <title> 國立台灣大學工程科學研究所-智慧計算與網路實驗室</title>
    <link rel="stylesheet" href="css/esoe.css">
    <script src="js/esoe.js"></script>
</head>
<body class="page">
    <div class="header">
        <div class="brand">
            <div class="logo"><img src="image/logo.png" alt=""></div>
            <div class="name">智慧計算與網路實驗室</div>
        </div>
        <div class="right-panel">
            <div class="nav">
                <a href="/">
                    <div class="nav-li active">
                        首頁
                    </div>
                </a>
                <a href="/member">
                    <div class="nav-li">
                        成員
                    </div>
                </a>
                <a href="/research">
                    <div class="nav-li">
                        研究
                    </div>
                </a>
            </div>
                <form style="display: inline-block;" action="/search">
                    <input placeholder="搜尋" type="text" name="q" id="tipue_search_input" class="esoe-search" autocomplete="off" required>
            </form>
        </div>
        <div class="right-panel-rwd"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
    <div class="dropdown-rwd">
        <div class="nav">
            <a href="/">
                <div class="nav-li active">
                    首頁
                </div>
            </a>
            <a href="/member">
                <div class="nav-li">
                    成員
                </div>
            </a>
            <a href="/research">
                <div class="nav-li">
                    研究
                </div>
            </a>
            <div class="nav-li">
                 <form style="display: inline-block;" action="/search">
                    <input placeholder="搜尋" type="text" name="q" id="tipue_search_input" class="esoe-search" autocomplete="off" required>
                </form>
            </div>
        </div>
    </div>
    <div class="screen">
        <div class="video-container">
            <video autoplay="" loop="" muted="" class="video hidden-xs">
                <source src="image/background.mp4" type="video/mp4">
                <source src="image/background.webm" type="video/webm">
            </video>
        </div>
    </div>
    <!--     <div class="no-video-rwd">
        <img src="image/background.png" alt="">
    </div> -->
    <div class="content">
        <div class="main-title"> 國立台灣大學工程科學研究所</div>
        <div class="sub-title">智慧計算與網路實驗室</div>
    </div>
</body>

</html>
