<!DOCTYPE html>
<html>
<!-- Copyright ESOE -->
<!-- Licensed ESOE -->
<!-- http: //mike-zheng.github.io/ -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title> 國立台灣大學工程科學研究所-智慧計算與網路實驗室</title>
    <link rel="stylesheet" href="css/esoe.css">
    <script src="js/esoe.js"></script>
</head>

<body class="member">
    <div class="header">
        <div class="brand">
            <div class="logo"><img src="image/logo.png" alt=""></div>
            <div class="name">智慧計算與網路實驗室</div>
        </div>
        <div class="right-panel">
            <div class="nav">
                <a href="/">
                    <div class="nav-li ">
                        首頁
                    </div>
                </a>
                <a href="/member">
                    <div class="nav-li active">
                        成員
                    </div>
                </a>
                <a href="/research">
                    <div class="nav-li">
                        研究
                    </div>
                </a>
            </div>
            <input class="esoe-search" placeholder="搜尋" type="text">
        </div>
        <div class="right-panel-rwd"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
    <div class="dropdown-rwd">
        <div class="nav">
            <a href="/">
                <div class="nav-li ">
                    首頁
                </div>
            </a>
            <a href="/member">
                <div class="nav-li active">
                    成員
                </div>
            </a>
            <a href="/research">
                <div class="nav-li">
                    研究
                </div>
            </a>
            <div class="nav-li">
                <input class="esoe-search" placeholder="搜尋" type="text">
            </div>
        </div>
    </div>
    <div class="side">
        <ul class="side-bar">
            <a href="">
                <li class="side-bar-list blue active">博士班</li>
            </a>
            <a href="">
                <li class="side-bar-list red ">碩士班</li>
            </a>
        </ul>
    </div>
    <div class="content">
        <div class="title"> 成員介紹 / 博士班</div>
        <div class="card-list">
            <div class="card">
                <div class="card-content">
                    <div class="card-degree">博士班</div>
                    <div class="card-name">陳志昇</div>
                    <div class="card-image"></div>
                    <div class="card-email">
                        <div class="email-name">email</div>
                        <div class="email">shan@gmail.com</div>
                    </div>
                    <div class="card-domain">
                        <div class="domain-name">領域</div>
                        <div class="domain">網路與數位教育</div>
                    </div>
                </div>
                <div class="card-meta">
                    <div class="card-meta-block">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span>博七</span>
                    </div>
                    <div class="card-meta-block md">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        <span>論文</span>
                    </div>
                    <div class="card-meta-block">
                        <i class="fa fa-book red" aria-hidden="true"></i>
                        <span>研究</span>
                    </div>
                </div>
            </div>
<!--  -->
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>
<div class="card"><div class="card-content"><div class="card-degree">博士班</div><div class="card-name">陳志昇</div><div class="card-image"></div><div class="card-email"><div class="email-name">email</div><div class="email">shan@gmail.com</div></div><div class="card-domain"><div class="domain-name">領域</div><div class="domain">網路與數位教育</div></div></div><div class="card-meta"><div class="card-meta-block"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>博七</span></div><div class="card-meta-block md"><i class="fa fa-files-o" aria-hidden="true"></i><span>論文</span></div><div class="card-meta-block"><i class="fa fa-book red" aria-hidden="true"></i><span>研究</span></div></div></div>



            <!--  -->
        </div>
    </div>
</body>

</html>
